body {
    background-color: #f8f9fa;
    color: #333;
    width: 100vw;
  }

  li {
    margin-left: unset !important;
  }

  .navbar {
    height: 80px;
    width: 100%;
    border-bottom: solid 1px #c2bfbf;
  }

  .navbar-brand {
    margin-left: 60px;
    font-weight: 500;
  }

  #sidebarToggleBtn {
    margin-top: 6px;
  }
  
  .sidebar {
    width: 240px;
    position: fixed;
    top: 80px;
    height: 100%;
    background-color: rgb(7, 54, 35);
    padding-top: 60px;
    transition: left 0.3s ease-in-out;
    display: inline-block;
  }

  .sidebar h3 {
    color: #fff;
    margin-left: 20px;
    font-weight: 400;
  }

  .sidebar hr {
    background-color: #fff !important;
    margin-top: 30px;
  }

  .sidebar li {
    padding: 20px;
    
  }

  .sidebar li:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .sidebar li a {
    color: #f8f9fa;
  }

  .sidebar li a:hover {
    text-decoration: none;
  }


  
  .sidebar.active {
    left: 0;
  }
  
  #sidebarToggleBtn {
    position: fixed;
    top: 10px;
    left: 10px;
  }
  
  .container-fluid {
    display: inline-block;
    vertical-align: top;
    margin-left: 240px;
    width: calc(100vw - 240px);
    background-color: #f7f5f5;
    height: calc(100vh - 80px);
    
  }

  .carousel-item {
    margin-left: 260px;
    margin-top: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 280px !important;
    width: 100%;
    
  }

  .center-text {
    width: calc(100vw - 252px);
    margin-left: -14px;
   
  }

  .center-text h2 {
    text-align: center;
  }

  .center-text p {
    margin-left: 36px;
  }

  .center-text a:hover {
    text-decoration: none;
  }

  .center-text button {
    display: block;
    margin: 0 auto;
    padding: 8px;
    margin-top: -8px;
    border-radius: 6px;
    background-color: rgb(32, 192, 152);
    outline: solid 2px rgb(17, 110, 59);
    border: none;
    color: #fff;
  }

  .center-text button:hover {
    background-color: #03753c;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(77, 122, 100);
    color: white !important;
    padding: 10px 0;
  }

  .text-muted {
    color: #fff !important;
  }

  i {
    margin-left: 8px;
    margin-right: 8px;
  }

  /*
    Styles for sign up page goes here....
  */

  .sign-up-container {
    width: 460px;
    padding: 16px;
    margin: 0 auto;
    border: solid 1px #585858;
    margin-top: 20px;
    border-radius: 12px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .sign-up-container legend {
    text-align: center;
    background-color: #f8f9fa;
    display: inline-block;
    width: 100px;
    margin-top: -36px;
    margin-left: 20px;
    font-weight: 500;
    color: #03753c;
    
  }

  .sign-up-container form input {
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    width: 96%;
    background-color: #e8f6fa;
  }

  .sign-up-container form input:focus {
    outline: solid 1px #1a69b3;
  }

  .sign-up-container form select:focus {
    outline: solid 1px #1a69b3;
  }

  .sign-up-container form select {
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    width: 96%;
  }

  .sign-up-container form button {
    padding: 6px;
    margin-top: 8px !important;
    margin-bottom: 8px;
    width: 100px;
    background-color: #1a9758;
    border: none;
    outline: #02552c 2px solid;
    border-radius: 6px;
    margin: 0 auto;
    color: #fff;
  }

  .sign-up-container form button:hover {
    background-color: #02552c;
  }

  .sign-up-container form a {
    margin-top: 10px !important;
    margin:  auto;
  }

  .login-link {
    position: absolute;
    right: 20px;
    top: 90px;
  }

  .grade-list {
    height: 100%;
    width: 120px;
    left: 240px;
    position: fixed;
    display: inline-block;
    vertical-align: top;
    background-color: #81b5e6;
    text-align: left;
    
  }

  .grade-list li {
    list-style-type: none;
    width: 100%;
    height: 60px;
    padding: 10px;
    cursor: pointer;

  }

  .grade-list li:hover {
    background-color: #1a69b3;
  }

  .grade-list li img{
    height: 100%;
  }

  .learning-area {
    height: 100%;
    width: calc(100vw - 360px);
    margin-left: 360px;
    padding: 16px;
  }

  .learning-area h2{
    text-align: center;
  }
  